GIT_USER_NAME=%%GIT_USER_NAME%%
GIT_USER_EMAIL=%%GIT_USER_EMAIL%%
GIT_CRED_USERNAME=%%GIT_USERNAME%%
GIT_CRED_HELPER=manager-core
LOGS_DIR=.dev/logs
SCRIPTS_DIR=.dev/.scripts/bash
PYTHONVERSION=12
SQLGSHEET_VERSION=2.0.1
HB_WRAPPER_VERSION=2.1.1